.rulesScreen {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(var(--vh, 1vh) * 4);
    &__rules {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_title {
            font-size: calc(var(--vh, 1vh) * 10);
            line-height: 1;
            margin-bottom: 1.8%;
        }
        &_list {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &_tip {
            margin: 2.5% 0 2%;
        }
    }
    &__buttonsList {
        display: flex;
        &_button {
            outline: calc(var(--vh, 1vh) * 0.1) solid rgba(255, 255, 255, 0.7);
            margin: 0 4%;
            font-size: calc(var(--vh, 1vh) * 5);
            border-radius: calc(var(--vh, 1vh) * 6);
            height: calc(var(--vh, 1vh) * 8);
            width: calc(var(--vh, 1vh) * 37);
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                outline: calc(var(--vh, 1vh) * 0.1) solid rgba(255, 255, 255, 1);
            }
        }
    }
}
