.improvementScreen {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 8vh;
    &__title {
        font-size: 10vh;
        font-weight: 100;
        display: flex;
    }
    &__moneyInfo {
        display: flex;
        align-items: center;
        height: 12.5%;
        &_text {
        }
        &_currencyImg {
            margin: 0 0.25em;
            font-size: inherit;
            height: 1em;
        }
    }
    &__improvements {
        display: flex;
        flex-direction: column;
        &_text {
        }
        &_list {
            margin: 1% 0;
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;
            &_button {
                &:hover {
                    // filter: invert(100%);
                    scale: 1.06;
                }
                transition: all 0.35s;
                margin: 0 1.8%;
                height: 24vh;
                &_img {
                    height: 100%;
                }
            }
        }
    }
}
