.inn {
    z-index: 8;
    &__healthInfo {
        display: flex;
        flex-direction: column;
        &_bar {
            margin: calc(var(--vh, 1vh) * 2) 0;
            position: relative;
            height: calc(var(--vh, 1vh) * 5);
            width: calc(var(--vh, 1vh) * 63);
            display: flex;
            outline: calc(var(--vh, 1vh) * 0.45) solid black;
            box-shadow: 0 0 0 calc(var(--vh, 1vh) * 0.5) #fff;
            background-color: black;
            word-wrap: break-word;
            transition: box-shadow 0.2s;
            &_stripe {
                height: 100%;
                background-color: white;
                mix-blend-mode: screen;
            }
            &_points {
                mix-blend-mode: difference;
                color: white;
                line-height: 112%;
                font-weight: 700;
                word-wrap: break-word;
                letter-spacing: calc(var(--vh, 1vh) * 1);
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
            }
        }
    }
    &__title {
        display: flex;
        align-items: center;
        white-space: pre;
        &_img {
            font-size: inherit;
            height: 1em;
            margin: 0 0.25em;
        }
    }
    &__buttonList {
        display: flex;
        margin: calc(var(--vh, 1vh) * 2) 0;
        &_button {
            height: calc(var(--vh, 1vh) * 8);
            width: calc(var(--vh, 1vh) * 31.7);
            margin: 0 calc(var(--vh, 1vh) * 1.9);
            line-height: 50%;
            overflow: hidden;
            text-align: center;
            border: calc(var(--vh, 1vh) * 0.5) ridge #ffffff;
            &:hover {
                border: calc(var(--vh, 1vh) * 1) ridge #ffffff;
            }
            &:disabled {
                border-color: #474747;
                &:hover {
                    border: calc(var(--vh, 1vh) * 0.5) ridge #474747;
                }
            }
        }
    }
}
