.emptyInventoryInterface {
    justify-content: initial;
    display: flex;
    flex-direction: column;
    &__text {
        font-size: calc(var(--vh, 1vh) * 5.2);
        line-height: 140%;
        margin-top: -0.5%;
    }
}
.inventoryInterface {
    justify-content: initial;
    display: flex;
    flex-direction: column;
    font-size: calc(var(--vh, 1vh) * 5.2);
    justify-content: center;
    align-items: center;
    &__items {
        display: flex;
        height: 70%;
        width: 100%;
        justify-content: center;
        &_btn {
            margin: 0 0.2%;
            display: flex;
            height: 100%;
            aspect-ratio: 1 / 1;
            border: calc(var(--vh, 1vh) * 0.7) ridge rgb(56, 56, 56);
            justify-content: center;
            align-items: center;
            position: relative;
            &:hover {
                border-color: white;
            }
            &_img {
                height: 80%;
            }
            &_count {
                position: absolute;
                right: 5%;
                bottom: -6%;
            }
        }
        margin-bottom: calc(var(--vh, 1vh) * 4);
    }
    &__itemDescription,
    &__backBtn {
        line-height: 50%;
    }
}
