.locationMapScreen {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coins {
    position: absolute;
    z-index: 6;
    font-size: 5.2vh;
    width: 98%;
    top: 1%;
    display: flex;
    align-items: center;
    &_img {
        margin: 0 0.25em;
        font-size: inherit;
        height: 1em;
    }
}
.nowItsBackground::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 5;
}
.locationMap {
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    justify-content: center;
    &__backgroundImg {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
    &__onFocusInfo {
        position: absolute;
        z-index: 3;
        height: 8%;
        width: 50%;
        left: 0;
        right: 0;
        bottom: 4%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        outline: 0.4vh solid white;
        font-size: 5vh;
        .p {
        }
    }
    &__buttonList {
        height: 100%;
        width: 100%;
        &_innBtn {
            position: absolute;
            z-index: 2;
            transition: all 0.2s;
            bottom: 31.5%;
            left: 1.2%;
            height: 46.85%;
            &_icon {
                width: auto;
                height: 100%;
            }
            &:hover {
                height: 48%;
            } 
            &.location3 {
                height: 54%;
                &:hover {
                    height: 55.3%;
                } 
            }
        }
        &_storeBtn {
            position: absolute;
            z-index: 2;
            transition: all 0.2s;
            &_icon {
                width: auto;
                height: 100%;
            }
            height: 25%;
            bottom: 28.4%;
            right: 80%;
            &:hover {
                height: 26%;
            }
        }
        &_bossBtn {
            position: absolute;
            z-index: 1;
            transition: all 0.2s;
            &_icon {
                width: auto;
                height: 100%;
            }
            height: 80%; //78.88%;
            bottom: 20.5%;
            left: 22.8%;
            &:hover {
                scale: 1.02;
            }
        }
        &_lairBtn {
            position: absolute;
            z-index: 2;
            transition: all 0.2s;
            &_icon {
                width: auto;
                height: 100%;
            }
            height: 51%; 
            bottom: 33.5%;
            right: 0;
            &:hover {
                height: 52.2%; 
            }
            &.location1 {
                height: 53%;
                &:hover {
                    height: 54.5%;
                } 
            }
        }
    }
}
