.choosePlayer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__scene {
        height: 62%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &_heroImg {
            height: 100%;
        }
    }
    &__interface {
        position: relative;
        height: 36%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: calc(var(--vh, 1vh) * 1) ridge #ffffff;
        background-color: black;
        &_container {
            justify-content: initial;
            display: flex;
            flex-direction: column;
            width: 97.5%;
            height: 85%;
            &_question {
                height: 48%;
                font-size: calc(var(--vh, 1vh) * 5.2);
                line-height: 140%;
                margin-top: -0.5%;
                margin-bottom: 0.3%;
                width: 100%;
                text-align: left;
            }
            &_answers {
                display: flex;
                flex-direction: column;
                font-size: calc(var(--vh, 1vh) * 4.2);
                width: 100%;
                &_button {
                    width: 100%;
                    &:nth-child(1) {
                        margin-bottom: 0.25%;
                    }
                    line-height: 180%;
                    text-align: left;
                    border: calc(var(--vh, 1vh) * 0.45) ridge rgb(56, 56, 56);
                    padding-left: 0.8%;
                    transition: padding 0.1s;
                    &:hover {
                        border: calc(var(--vh, 1vh) * 0.45) ridge white;
                        padding-left: 1%;
                    }
                }
            }
        }
    }
}
