.choosePlayer {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto 0;
    .chosen {
        outline: 1.2vh solid #ffffff !important;
    }
    &_title {
        font-size: 8vh;
        margin-bottom: 2%;
    }
    &_heroes {
        height: 56%;
        width: 90%;
        display: flex;
        &_button {
            display: flex;
            height: 100%;
            width: 45%;
            border: 0.01em solid #ffffff;
            border-radius: 10%;
            margin: 0 3%;
            justify-content: center;
            align-items: center;
            &:hover {
                outline: 0.8vh solid #ffffff;
            }

            &_avatar {
                height: 99%;
                width: auto;
            }
        }
    }
    &_buttonsList {
        margin-top: 2.5%;
        display: flex;
        &_button {
            border: 0.1vh solid #ffffff;
            font-size: 5vh;
            border-radius: 2vw;
            height: 100%;
            width: 15vw;
            margin: 0 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            &:not(:disabled):hover {
                background-color: white;
                color: black;
                transition: all 0.5s;
            }
            &:disabled {
                color:#474747;
            }
        }
    }
}
