.cutscene {
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    &__text {
        // height: 100%;
        text-align: left;
        font-size: calc(var(--vh, 1vh) * 6);
        overflow: auto;
        word-break: break-word;
    }
}
