@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.appWrapper {
  height: 100%;
  width: 100%;
  // filter: grayscale(100%);
  // filter: grayscale(100%) invert(100%)
}
.blocked {
  pointer-events: none;
}
