@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.app {
  height: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
}
.appWrapper {
  height: 100%;
  width: 100%;
}
.blocked {
  pointer-events: none;
}
