.store {
    z-index: 8;
    &__purchase {
        font-size: calc(var(--vh, 1vh) * 4.2);
        width: 100%;
        outline: calc(var(--vh, 1vh) * 0.5) ridge white;
        padding: calc(var(--vh, 1vh) * 2) 0;
        margin: calc(var(--vh, 1vh) * 2) 0;
        &_itemsList {
            display: flex;
            height: calc(var(--vh, 1vh) * 18);
            width: 100%;
            justify-content: center;
            margin-bottom: calc(var(--vh, 1vh) * 1.8);
            &_btn {
                margin: 0 calc(var(--vh, 1vh) * 0.4);
                display: flex;
                height: 100%;
                aspect-ratio: 1 / 1;
                border: calc(var(--vh, 1vh) * 0.7) ridge rgb(56, 56, 56);
                justify-content: center;
                align-items: center;
                position: relative;
                &:hover {
                    border-color: white;
                }
                &_img {
                    height: 80%;
                }
                &_cost {
                    line-height: 50%;
                    display: flex;
                    align-items: center;
                    white-space: pre;
                    position: absolute;
                    right: 7%;
                    bottom: 5%;
                    display: flex;
                    &_count {
                        margin-top: 0.18em;
                    }
                    &_currency {
                        font-size: inherit;
                        height: 0.8em;
                        padding-left: 4%;
                    }
                }
            }
        }
    }
    &__inventory {
        display: flex;
        flex-direction: column;
        width: 100%;
        &_itemsList {
            align-items: center;
            font-size: calc(var(--vh, 1vh) * 4.2);
            margin-bottom: calc(var(--vh, 1vh) * 2);
            padding: calc(var(--vh, 1vh) * 2) 0;
            display: flex;
            height: calc(var(--vh, 1vh) * 17);
            width: 100%;
            justify-content: center;
            margin: calc(var(--vh, 1vh) * 2) 0;
            outline: calc(var(--vh, 1vh) * 0.5) ridge white;
            &_item {
                margin: 0 calc(var(--vh, 1vh) * 1);
                display: flex;
                height: 100%;
                aspect-ratio: 1 / 1;
                outline: calc(var(--vh, 1vh) * 0.7) ridge rgb(56, 56, 56);
                justify-content: center;
                align-items: center;
                position: relative;
                &_img {
                    height: 80%;
                }
                &_count {
                    position: absolute;
                    right: 5%;
                    bottom: -6%;
                }
            }
        }
    }
    &__leaveBtn {
        height: calc(var(--vh, 1vh) * 8);
        width: calc(var(--vh, 1vh) * 33.7);
        margin: calc(var(--vh, 1vh) * 2) 0;
        line-height: 50%;
        overflow: hidden;
        text-align: center;
        align-items: center;
        border: calc(var(--vh, 1vh) * 0.5) ridge #ffffff;
        &:hover {
            border: calc(var(--vh, 1vh) * 1) ridge #ffffff;
        }
    }
}
