.questionInterface {
    justify-content: initial;
    display: flex;
    flex-direction: column;
    position: relative;
    &__question {
        height: 48%;
        font-size: calc(var(--vh, 1vh) * 5.2);
        line-height: 140%;
        margin-top: -0.5%;
        margin-bottom: 0.3%;
        width: 100%;
        text-align: left;
    }
    &__answers {
        display: flex;
        flex-direction: column;
        font-size: calc(var(--vh, 1vh) * 4.2);
        width: 100%;
        &_button {
            width: 100%;
            &:nth-child(1) {
                margin-bottom: 0.25%;
            }
            line-height: 180%;
            text-align: left;
            border: calc(var(--vh, 1vh) * 0.45) ridge rgb(56, 56, 56);
            padding-left: 0.8%;
            transition: padding 0.1s;
            &:hover {
                border: calc(var(--vh, 1vh) * 0.45) ridge white;
                padding-left: 1%;
            }
        }
    }
}
